In [1]:
import pandas as pd

In [65]:
df = pd.read_csv('riva_problem.csv')

In [66]:
df

    注文番号  ユーザーID    ユーザー名    型番  商品名
0    702     293  あいう株式会社  S-68  AAA
1    703     204    かきく商事  S-61  BBB
2    730     295    かきく商事  S-68  AAA
3    740     295    かきく商事  S-46   CC
4    762     295    かきく商事  S-46    D
5    781     295    かきく商事  S-66  EEE
6    800     300  さしす有限会社  R-66  FFF
7    819     310    たちつ商事  R-69   GG
8    820     311    たちつ商事  S-68  AAA
9    821     312    たちつ商事  S-68  AAA
10   838     320  なにぬ株式会社  R695    H
11   857     320  なにぬ株式会社  RK12    I
12   876     320  なにぬ株式会社  RK11    J

In [108]:
products = df['商品名'].unique()
products

array(['AAA', 'BBB', 'CC', 'D', 'EEE', 'FFF', 'GG', 'H', 'I', 'J'], dtype=object)

In [67]:
tmp['AAA'] = [ _ for _ in df[df['商品名'] == 'AAA']['ユーザー名']]
tmp

{'AAA': ['あいう株式会社', 'かきく商事', 'たちつ商事', 'たちつ商事']}

In [84]:
aaa = df[df['商品名'] == 'AAA']['ユーザー名'].value_counts()
aaa

たちつ商事      2
かきく商事      1
あいう株式会社    1
Name: ユーザー名, dtype: int64

In [85]:
headers = df['ユーザー名'].unique()
headers

array(['あいう株式会社', 'かきく商事', 'さしす有限会社', 'たちつ商事', 'なにぬ株式会社'], dtype=object)

In [110]:
lists = []
for _ in headers:
    lists.append(aaa[_] if _ in aaa else 0)

In [119]:
lists

{'AAA': []}

In [172]:
# まとめると

import pandas as pd

df = pd.read_csv('riva_problem.csv')
products = df['商品名'].unique()
corps = df['ユーザー名'].unique()

lists = {}

for c in corps:
    lists[c] = []
    for p in products:
        tmp = df[df['ユーザー名'] == c]['商品名'].value_counts()
        lists[c].append(tmp[p] if p in tmp else 0)

r_df = pd.DataFrame(lists, df['商品名'].unique())
r_df

     あいう株式会社  かきく商事  さしす有限会社  たちつ商事  なにぬ株式会社
AAA        1      1        0      2        0
BBB        0      1        0      0        0
CC         0      1        0      0        0
D          0      1        0      0        0
EEE        0      1        0      0        0
FFF        0      0        1      0        0
GG         0      0        0      1        0
H          0      0        0      0        1
I          0      0        0      0        1
J          0      0        0      0        1